[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
	branch = master
[submodule "libiconv"]
	path = libiconv
	url = https://github.com/w4123/libiconv-android-prebuilt
[submodule "DiceWebUI"]
	path = DiceWebUI
	url = https://github.com/Dice-Developer-Team/DiceWebUI.git
